.create-business-container {
    max-width: 600px;
    margin: 0 auto;
}

.business-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.business-form label {
    font-size: 15px;
}

.business-form section {
    margin-bottom: 5px;
}

.create-business-container h2 {
    text-align: center;
}

.city-state,
.lat-lng,
.zipcode-country {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.input-box-city {
    flex: 2;
    min-width: 290px;
}

.input-box-lat {
    flex: 1;
    min-width: 185px;
}

.input-box-lng {
    flex: 1;
    min-width: 185px;
}

.label-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
    gap: 3px;
}

.error-message {
    color: red;
    /* font-size: 0.9 rem; */
}

.price-input {
    display: flex;
    align-items: center;
    gap: 10px;
}

.business-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 100%;
}

.business-form textarea {
    padding: 10px;
    height: 170px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    margin-bottom: 5px;
}

.buttons {
    display: flex;
    align-items: center;
}

.create-business-button {
    padding: 8px 8px;
    border-radius: 6px;
    border: none;
    width: 6rem;
    background-color: #d32323;
    color: white;
    cursor: pointer;
}

.autofill-button {
    border: none;
    background: none;
    text-decoration: underline;
    cursor: pointer;
}
