

.review-box {
  margin-top: 2rem;
}

.review-item {
  border-bottom: 1px solid #e0e0e0;
  padding: 16px 0;
}

.review-date {
  color: #888;
  margin: 4px 0;
}

.review-text {
  margin-top: 8px;
  line-height: 1.5;
}

.delete-button {
    padding: 10px;
    background-color: #d32323;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #b91c1c;
}